* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}

form {
    width: 250px;
    background-color: #134967;
    padding: 10px;
}

input {
    width: 100%;
    display: block;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;

}

input:focus {
    outline: none;
}

hr {
    margin: 10px 0;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}

button{
    padding: 15px 0;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    font-weight: 600;
    background-color: #888;
    color: I#fff;
    cursor: pointer;
}

.numbers{
    background-color: #ccc;
    color: #000;
}

.clear{
    background-color: #f00;
}